@import url(./mediaQ.css);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

/* Define estilos globais para todos os elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

/* Define estilos para o corpo da página */
body{
    height: 100%;
    width: 100%;
    background-image: url('../img/background-day.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Define estilos para a seção principal da página */
div.main{
    height: 100vh;
    width: 100vw;
}

/* Define estilos para o tabuleiro do jogo */
div.tabuleiro{
    display: flex;
    z-index: 2;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/tabuleiro.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(1600px / 2.4);
    width: calc(1600px / 2.4);
    border-collapse: collapse;
    padding: 50px;
    border: solid rgba(42, 152, 42, 0.408) 10px;
    
    animation-name: tabuleiroBrilho;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* Define estilos para as casas do tabuleiro */
div.casa{
    position: relative;
    height: calc(100% / 10);
    width: calc(100% / 10);
    border-collapse: collapse;
}

/* Define estilos para a seção de configurações iniciais do jogo */
div.configuracoesIniciais{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 500px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    animation-name: crescerDiminuir;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border: solid 5px black;

    background-color: white;
    padding: 25px;
    border-radius: 15px;
}

/* Define estilos para os botões na seção de configurações iniciais */
div.configuracoesIniciais button {
    height: min-content;
    width: min-content;
    background-color: transparent;
    cursor: pointer;
    margin: 10px 0;
    border: none;
}

/* Estilos específicos para o botão de adicionar jogador */
button#adicionarJogador{
    font-size: 24pt;
    color: rgb(8, 190, 199);
}

/* Estilos específicos para o botão de iniciar o jogo */
button#btn-iniciar{
    font-size: 14pt;
    position: relative;
    padding: 10px;
    background-color: rgb(8, 190, 199);
    border-radius: 5px;
    color: white;
    animation-name: balancar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 15px;
    right: 15px;
    bottom: 15px;
    background-color: #272b31f2;
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 8px;
    font-family:  'Press Start 2P', cursive;
    color: white;
}

#total {
    font-family:'Lalezar', cursive !important;
    font-size: 18pt !important;
}

#turnPlayer {
    font-family:'Lalezar', cursive !important;
    font-size: 18pt !important;
    
}

p#total{
    font-size: 16px;
    font-weight: 600;
    
}

button#btn-rolar{
    position: relative;
    background-color: #e92e3d;
    border: none;
    color: white;
    font-weight: 800;
    padding: 20px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    animation-name: balancarRolar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

.agitar{
    animation: agitar 0.5s infinite;
}



div.jogadores{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 15px;

}

div.jogador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid gray;
    
}

div.jogador label {
    font-family:'Lalezar', cursive !important;
    letter-spacing: 3px;
}

div.jogador input[type="text"]{
    padding: 5px;
    font-family:'Lalezar', cursive !important;
    border: none;
    border-bottom: solid 1px black;
}

/* Define estilos para o rótulo de escolha de cor de jogador */
label.colorPicker{
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
}

div.dado{
    height: 100px;
    width: 100px;
    background-image: url('../img/dice.png');
    background-size: cover;
    cursor: pointer;
    margin: 10px 50px;
}

/* Define estilos para a seção que contém os bonecos dos jogadores */
div.bonecosDosJogadores{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5px;
    left: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;

    
}

div.bonecosDosJogadores p{
    font-family:'Lalezar', cursive !important;
}

/* Define estilos para um boneco de jogador individual */
div.bonecoJogador{
    height: 50px;
    text-align: center;
    padding: 1px 5px;
    border-radius: 5px;
}

div.bonecoJogador p{
    -webkit-text-stroke-width: 0.5px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
}

/* Define estilos para um boneco de jogador movido */
div.bonecoMovido{
    font-size: small !important;
    position: absolute;
    animation-name: mexerBonecos;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: 1s;
}

div.bonecoMovido > div{
    height: 20px !important;
    width: 20px !important;
    border-radius: 15px;
    margin: 0 auto;
}


/* Define estilos para o corpo (div) dentro de um boneco de jogador */
div.bonecoJogador > div{
    height: 25px;
    width: 25px;
    border-radius: 15px;
    margin: 0 auto;
}

/* Define estilos para o nome (p) do boneco do jogador */
div.bonecoJogador > p {
    display: block;
    margin: 0 auto;
}

#turnPlayer {
    font-size: 12px; /* Tamanho da fonte desejado */
    white-space: nowrap; /* Impede a quebra de linha automática */
}

div#telaVitoria{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgb(21, 21, 21);
    color: rgb(242, 242, 242);
    border: solid 1px black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    justify-content: space-evenly;
    border: white solid 2px;
    box-shadow: 0px 0px 55px 65px rgb(18, 18, 18);
}

button#btn-jogarNovamente{
    padding: 15px;
    border-radius: 10px;
    background-color: #2075f4;
    color: white;
    border: solid 1px white;
    cursor: pointer;
    text-align: center;
    animation-name: balancarRolar;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

button#btn-reiniciarJogo{
    position: absolute;
    left: 5%;
    top: 10%;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(228, 46, 46);
    color: white;
    border: solid 2px black;
    cursor: pointer;
    text-align: center;
    z-index: 50;
}

div#interacao{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

div#interacao > p {
    width: 50%;
    text-align: center;
    padding: 10px;
}

div#interacao > button {
    position: relative;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    animation-name: balancar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}