@import url(./mediaQ.css);

/* Define estilos globais para todos os elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define estilos para o corpo da página */
body{
    height: 100%;
    width: 100%;
    background-image: url('../img/teste2.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Define estilos para a seção principal da página */
div.main{
    height: 100vh;
    width: 100vw;
}

/* Define estilos para o tabuleiro do jogo */
div.tabuleiro{
    display: flex;
    z-index: 2;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/tabuleiro.jpeg');
    background-size: contain;
    height: calc(768px / 1.2);
    width: calc(1031px / 1.2);
    border: 1px solid black;
    border-collapse: collapse;
}

/* Define estilos para as casas do tabuleiro */
div.casa{
    position: relative;
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid black;
    border-collapse: collapse;
}

/* Define estilos para a seção de configurações iniciais do jogo */
div.configuracoesIniciais{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 500px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    background-color: white;
    padding: 25px;
    border-radius: 15px;
}

/* Define estilos para os botões na seção de configurações iniciais */
div.configuracoesIniciais button {
    height: min-content;
    width: min-content;
    background-color: transparent;
    cursor: pointer;
    margin: 10px 0;
    border: none;
}

/* Estilos específicos para o botão de adicionar jogador */
button#adicionarJogador{
    font-size: 24pt;
    color: rgb(8, 190, 199);
}

/* Estilos específicos para o botão de iniciar o jogo */
button#btn-iniciar{
    font-size: 18pt;
    padding: 5px;
    background-color: rgb(8, 190, 199);
    border-radius: 5px;
    color: white;
}


.container{
    width: 100px;
    padding: 130px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 76%;
    left: 89%;
    background-color: #689ef0;
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
}

.dado{
    width: 90%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 11%;
    left: 31%;
}

p#total{
    font-size: 16px;
    margin: 30px 0;
    font-weight: 600;
    position: absolute;
    top: 47%;
    left: 32%;
}

button#btn-rolar{
    background-color: #e92e3d;
    border: none;
    outline: none;
    color: #000000;
    font-weight: 800;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 73%;
    left: 22%;
}

.agitar{
    animation: agitar 0.5s infinite;
}

@keyframes agitar{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}

div.jogadores{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 15px;

}

div.jogador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid gray;
}

div.jogador input[type="text"]{
    padding: 5px;
}

/* Define estilos para o rótulo de escolha de cor de jogador */
label.colorPicker{
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
}

div.dado{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('../img/dice.png');
    background-size: cover;
    cursor: pointer;
}

/* Define estilos para a seção que contém os bonecos dos jogadores */
div.bonecosDosJogadores{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.344);
}

/* Define estilos para um boneco de jogador individual */
div.bonecoJogador{
    transition: ease-in-out 1s;
    height: 50px;
    text-align: center;
    padding: 1px 5px;
    border-radius: 5px;
}

/* Define estilos para um boneco de jogador movido */
div.bonecoMovido{
    position: absolute;
}

/* Define estilos para o corpo (div) dentro de um boneco de jogador */
div.bonecoJogador > div{
    height: 25px;
    width: 25px;
    border-radius: 15px;
    margin: 0 auto;
}

/* Define estilos para o nome (p) do boneco do jogador */
div.bonecoJogador > p {
    display: block;
    margin: 0 auto;
}

#turnPlayer {
    font-size: 12px; /* Tamanho da fonte desejado */
    white-space: nowrap; /* Impede a quebra de linha automática */
}